body {
  height: 100vh;
}
header a {
  position: absolute;
  word-spacing: 5px;
  width: 230px;
  height: 25px;
  left: 77px;
  top: 40px;
  font-family: Inconsolata;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: #333333;
}
.container {
  position: absolute;

  top: 265px;
  left: 77px;
  right: 119px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(525px, 1fr));
  grid-template-rows: repeat(1, 500px);
}

.image {
  /* position: relative; */
  width: 100%;
  max-width: 539px;
  height: auto;
}
.items {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.items a {
  width: 540px;
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 95px;
  word-spacing: 10px;
  letter-spacing: -0.035em;
  color: #333333;
}
.items p {
  width: 381px;
  font-family: space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
}
.items button {
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: #ffffff;
  width: 216px;
  height: 68px;
  left: 740px;
  top: 663px;
  background: #333333;
  position: relative;
  left: 0px;
  top: 65px;
}
